<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node + Fastify</title>
    <style>
      body {
        background-color: #c2c8d2;
        color: black;
        font-family: sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }

      .container {
        display: flex;
        align-items: center;
      }

      .node-logo {
        height: auto;
        margin-right: 20px;
      }

      .fastify-logo {
        height: auto;
        margin-left: 20px;
      }

      .text {
        font-size: 2em;
        margin: 0 20px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <img
        src="http://127.0.0.1:8080/uploaded/images/assets/images/nodeJs.png"
        alt="Logo Node.js"
        class="node-logo"
        width="80px"
      />
      <span class="text">+</span>
      <img
        src="http://127.0.0.1:8080/uploaded/images/assets/images/fastify.png"
        alt="Logo Fastify"
        class="fastify-logo"
        width="100px"
      />
    </div>
  </body>
</html>
